<table class="table table-sm table-light table-striped" *ngIf="tracks">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Track</th>
			<th scope="col">Duration</th>
			<th scope="col" *ngIf="hideArtist==false">Primary Artist</th>
			<th scope="col" *ngIf="hideAlbum==false">Album</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let track of tracks; let i = index">
			<td>{{i + 1}}</td>
			<td>
				<a [routerLink]="getTrackURL(i)">{{track.name}}</a>
			</td>
			<td>{{(track.duration_ms/1000)/60| number:'1.0-0'}}:{{ ((track.duration_ms/1000)%60| number:'2.0-0') }}</td>
			<td *ngIf="hideArtist==false"><a [routerLink]="getArtistURL(i)">{{track.artists[0].name}}</a></td>
			<td *ngIf="hideAlbum==false"><a [routerLink]="getAlbumURL(i)">{{track.album.name}}</a></td>
		</tr>
	</tbody>
</table>
