.profile-detail{
    margin:0px 10px;
    text-align: center;
}

.profile-img{
    width:100px;
    height:auto;
    padding-bottom: 10px;
    transition: 0.3s;
}

.profile-img:hover{
    opacity: 0.7;
}