<nav class="navbar navbar-expand-xl"  id="links">
  <a class="navbar-brand mr-auto brand" routerLink=".">Browse</a>
  <button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="true" aria-label="Toggle navigation">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/browse/songs">Songs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/browse/albums">Albums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/browse/artists">Artists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/browse/playlists">Playlists</a>
        </li>
        <hr>
        <li class="nav-item">
            <app-about></app-about>
        </li>
      </ul>    
  </div>
</nav>